@import './variables';
@import './reset';
@import './components/header';
@import './components/sidebar';
@import './pages/home';
@import './pages/planets';

body {
    background-color: $black;
}

.main {
    min-height: 90vh;

    @media screen and (min-width: 599px) {
        display: grid;
        grid-template-columns: 130px 1fr;
    }
}