.aside {
    border-bottom: 2px solid $white;

    @media screen and (min-width:599px) {
        border-bottom: unset;
        border-right: 2px solid $white;
    }

    .aside-links-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        max-width: 350px;
        margin: auto;

        @media screen and (min-width:599px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .active {
            background-color: $blue;

            p {
                color: white !important;
            }
        }

        a {
            padding: 10px;

            .aside-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-transform: uppercase;

                img {
                    width: 50px;
                }

                p {
                    color: $blue;
                }
            }
        }
    }
}